@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: white;
    @apply dark:bg-gray-900
}

::-webkit-scrollbar-thumb{
    background: #ef4444;
    border-radius: 3px;
    @apply dark:bg-red-800
}